{% extends 'comun.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/DataTables-1.10.10/media/css/jquery.dataTables.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/select2-bootstrap.min.css') }}"/>
{% endblock %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    {% set actual = 'now'|date('Y') %}
    <div class="container-fluid">
        <div class="top-datatable" style="background: #434242; padding: 5px">
            <div class="row" style=" margin-right: auto">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="no-margin">
                            <h2 class="no-padding" style="color: #70cbb1">Listado de Pacientes Notificados en un Año</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-cont">
            <div class="row" style="margin-right: 0 ; margin-left: 0">
                <form>
                    <fieldset  style="border: solid 2px #cccccc; padding: 10px">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <h3 style="color: #717070; text-align: center;margin-top: 22px"><strong>BUSCADOR</strong></h3>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                    <label class="control-label " for="anno">Año:</label>
                                    <select class="form-control input-sm" id="anno"  name="anno">
                                        {% for annoRango in  range(actual,2000,-1) %}
                                            <option {{ annoRango == anno ? 'selected' }} value="{{ annoRango }}">{{ annoRango }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="control-label " for="idSemana">Semana Estadística:</label>
                                <select class="form-control input-sm"  id="idSemana"  name="idSemana">
                                    <option value="0">Seleccione una semana estadística</option>
                                    {% for semana in  semanasEstadisticas if semana.fechaInicio|date("Y") == anno %}
                                        <option value="{{ semana.id }}">{{ semana.getSemana()~'/  '~semana.getFechaInicio()|date('Y-m-d')~'  '~semana.getFechaFinal()|date('Y-m-d') }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="control-label " for="resultadoTratamiento">Resultado del Tratamiento:</label>
                                <div class="form-group">
                                    <select class="form-control input-sm" id="resultadoTratamiento"  name="resultadoTratamiento">
                                        <option value="vacio">Seleccione un resultado del tratamiento</option>
                                        {% for resultado in  resultadosTratamiento %}
                                            <option  value="{{ resultado.resultado }}">{{ resultado.resultado }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                    <p style="margin-top: 20px">
                                        <button id="btnBuscar" type="button" class="btn btn-primario">Buscar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="container-fluid" id="containerResultado">
            <div  class="row" style="background: #fff; padding: 10px 0; margin-bottom: 20px; border-bottom: 2px solid #434242;">
                <div class="col-md-12">
                    <table id="dataPaciente" class="display" cellspacing="0" width="100%" >
                        <thead>
                        <tr>
                            {% if app.user.getNivelAcceso().nivel == 'nacional' %}
                                <th>Provincia</th>
                            {% endif %}
                            {% if app.user.getNivelAcceso().id > 2 %}
                                <th>Municipio</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Fecha Notificación</th>
                            <th>Enfermedad</th>
                            <th>Resultado Tratamiento</th>
                            <th>Trimestre</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evolucion in evoluciones %}
                            <tr  data-id ="{{ evolucion.id }}">
                                {% if app.user.getNivelAcceso().nivel == 'nacional' %}
                                    {% if  evolucion.getAreaSalud() != null  %}
                                        <td>{{ evolucion.getAreaSalud().getMunicipio().getProvincia().codigo~'-'~evolucion.getAreaSalud().getMunicipio().getProvincia().nombre }}</td>
                                    {% elseif evolucion.hospital != null %}
                                        <td>{{ evolucion.hospital.getMunicipio().getProvincia().codigo~'-'~evolucion.hospital.getMunicipio().getProvincia().nombre  }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                                {% if app.user.getNivelAcceso().id > 2 %}
                                    {% if  evolucion.getAreaSalud() != null %}
                                        <td>{{ evolucion.getAreaSalud().getMunicipio().codigo~'-'~evolucion.getAreaSalud().getMunicipio().nombre  }}</td>
                                    {% elseif evolucion.hospital != null %}
                                        <td>{{ evolucion.hospital.getMunicipio().codigo~'-'~evolucion.hospital.getMunicipio().nombre  }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                                <td>{{ evolucion.getPaciente().nombre }}</td>
                                <td>{{ evolucion.getPaciente().primerApellido }}</td>
                                <td>{{ evolucion.getPaciente().segundoApellido }}</td>
                                <td>{{ evolucion.fechaNotificacion|date('Y-m-d') }}</td>
                                <td>{{ evolucion.getEnfermedad() == null ? '' : evolucion.getEnfermedad().codigo  }}</td>
                                <td>{{ evolucion.getResultadosFinales[(evolucion.getResultadosFinales|length) - 1].getResultadoTratamiento().resultado }}</td>
                                {% set mes = evolucion.fechaNotificacion|date('m') %}
                                {% if mes < 4 %}                  <td>Primero</td>
                                {% elseif mes > 3 and mes < 7 %}  <td>Segundo</td>
                                {% elseif mes > 6 and mes < 10 %} <td>Tercero</td>
                                {% elseif mes >= 10 %}             <td>Cuarto</td>
                                {% endif %}
                                <td>
                                    <div class="btn-opt" id="ver" style="background: #ffffff; text-align: center" data-toggle="tooltip" data-placement="bottom" title="Datos">
                                        <a href="{{ path('verPaciente' , {ci:evolucion.getPaciente().carnetIdentidad , origen:'pacientesNotificadosAnno'}) }}" style="text-decoration: none; color: #1f1f1f">
                                            <i class="glyphicon glyphicon-eye-open" style="font-size: 20px"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easyadmin/DataTables-1.10.10/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            function verificarusuario(){
                {% if not (is_granted("ROLE_EDITOR_ESTADISTICA") or is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_EDITOR_LABORATORIO") or is_granted("ROLE_VISUALIZADOR")) %}
                    window.location.href = "{{ path('login') }}";
                {% endif %}
            }
            verificarusuario();
            $('#dataPaciente').DataTable();
            $('[data-toggle="tooltip"]').tooltip();

            $("#semana , #anno").select2({
                placeholder: "Seleccione una semana estadística..",
                allowClear: false
            });

            //----------Relacionar selects --------------------------
            $('#anno').on('change', function () {
                var anno = $(this).val();

                //ESTE CICLO ES PARA BUSCAR LAS SEMANAS PERTENECIENTES A UN AñO
                var html   = '<option value="0">Seleccione una semana estadística</option>';

                {% for semana in  semanasEstadisticas %}
                    var annoSemana = '{{ semana.fechaInicio|date("Y") }}';

                    if (anno == annoSemana) {
                        var id = {{ semana.id }};
                        var name = '{{ semana.getSemana()~'/  '~semana.getFechaInicio()|date('Y-m-d')~'  '~semana.getFechaFinal()|date('Y-m-d') }}';
                        html += '<option  value="' + id + '">' + name + '</option>';
                    }
                {% endfor %}

                $("#idSemana").html(html);
            });

            //----------BUSCADOR --------------------------
            $('#btnBuscar').click(function ()
            {

                $(".preload").removeClass('hidden');

                var mat_datos = {

                    idSemana: $('#idSemana').val(),
                    resultadoTratamiento: $('#resultadoTratamiento').val(),
                    anno: $('#anno').val(),
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("buscarPacientesNotificadosAnno") }}',
                    data: mat_datos
                }).done(function (data) {
                    $(".preload").addClass('hidden');

                    $('#containerResultado').replaceWith(data);
                    $('#dataPaciente').DataTable();

                }).fail(function (jqXHR, textStatus) {

                    alertify.alert('<strong>Ha habido un problema en el servidor. Intentelo de nuevo.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Información</h4>')
                        .set('label','Aceptar')
                });

            });

        });
    </script>
{% endblock %}