{% extends 'comun.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/progressSquare.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% set anno_actual =  "now"|date("Y") %}

    <div style="padding-left: 10px; padding-right: 10px" class="container-fluid">
        <div class="row" style="margin:5px">

            <div class="form-cont">

                <h2 id="titulo_fecha" class="text-center">REPORTE POR FACTORES DE RIESGOS DE LOS CONTACTOS TB POR PROVINCIAS</h2>
                <br>

                {#                    <div class="btn-toolbar">#}
                {#                        <div class="btn-group" style="margin-bottom: 5px;">#}
                {#                            <a id="imp_rpt_criterios_entrada" class="btn btn-default">#}
                {#                                <span class="glyphicon glyphicon-save"></span>#}
                {#                            </a>#}

                {#                        </div>#}
                {#                    </div>#}

                <div>
                    <table id="id_tb_diario" class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th colspan="21" style="text-align: center">
                                </br>
                                </br>
                                <div class="form-group">
                                    <div class="row">
                                        <label for="fechaInicio"
                                               class="col-lg-2 col-md-2 col-sm-2 control-label text-right">DESDE:</label>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <input type="date"
                                                   name="fechaInicio" id="fechaInicio"
                                                   value="{{ fechaInicio|date("Y-m-d") }}">
                                        </div>
                                        <label for="fechaFinal"
                                               class="col-lg-1 col-md-1 col-sm-1 control-label text-right">HASTA:</label>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <input type="date"
                                                   name="fechaFinal" id="fechaFinal"
                                                   value="{{ fechaFinal|date("Y-m-d") }}">
                                        </div>
                                        <div class="col-md-1">
                                            <button id="bt_search" class="btn btn-primario" type="submit">Buscar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th colspan="3" rowspan="2" style="text-align: center; vertical-align: middle"
                                id="nameEncabezado">FACTORES DE RIESGO
                            </th>
                            <th rowspan="2" style="text-align: center; vertical-align: middle">TOTAL</th>
                            <th rowspan="2" style="text-align: center; vertical-align: middle">%</th>
                            <th colspan="17" style="text-align: center">PROVINCIAS</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; vertical-align: middle">PR</th>
                            <th style="text-align: center; vertical-align: middle">ART</th>
                            <th style="text-align: center; vertical-align: middle">HAB</th>
                            <th style="text-align: center; vertical-align: middle">MAY</th>
                            <th style="text-align: center; vertical-align: middle">MTZ</th>
                            <th style="text-align: center; vertical-align: middle">VCL</th>
                            <th style="text-align: center; vertical-align: middle">CFG</th>
                            <th style="text-align: center; vertical-align: middle">SSP</th>
                            <th style="text-align: center; vertical-align: middle">CAV</th>
                            <th style="text-align: center; vertical-align: middle">CMG</th>
                            <th style="text-align: center; vertical-align: middle">LTU</th>
                            <th style="text-align: center; vertical-align: middle">HOL</th>
                            <th style="text-align: center; vertical-align: middle">GMA</th>
                            <th style="text-align: center; vertical-align: middle">STG</th>
                            <th style="text-align: center; vertical-align: middle">GTM</th>
                            <th style="text-align: center; vertical-align: middle">MEIJ</th>
                        </tr>
                        <tr>
                            <th colspan="21" style="text-align: center">NÚMERO DE CONTACTOS</th>
                        </tr>
                        </thead>
                        <tbody id="tb_body_replace">
                        {% for dato in datos %}
                            <tr>
                                <td colspan="3" style="font-weight: bold">{{ dato['factor'] }}</td>
                                {% for paciente in dato['pacientes'] %}
                                    <td {{ loop.last == true ? 'colspan="2"' }} class="text-center">{{ paciente }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>

    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{{ asset('img/progresssquare.gif') }}" alt="progress" class="icon">
                        <h5><span class="modal-text">Procesando, espere por favor....</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            var fechaInicio = '';
            var fechaFinal = '';
            var provincia = '';

            var md = $('#processing-modal');

            $("#bt_search").click(function () {

                var hoy = '{{ "now"|date('Y-m-d') }}';

                if($("#fechaInicio").val() == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha de inicio.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Advertencia</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if($("#fechaFinal").val() == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha final.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Advertencia</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if($("#fechaFinal").val() < $("#fechaInicio").val()) {
                    alertify.alert('<strong>Error: la fecha final no puede ser menor que la fecha de inicio.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if($("#fechaInicio").val() > hoy) {
                    alertify.alert('<strong>Error: la fecha de inicio no puede ser mayor que la fecha actual.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if($("#fechaFinal").val() > hoy) {
                    alertify.alert('<strong>Error: la fecha final no puede ser mayor que la fecha actual.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                fechaInicio = $("#fechaInicio").val();
                fechaFinal = $("#fechaFinal").val();
                provincia = $("#provincia").val();

                md.modal('show');

                var mat_datos = {
                    fechaInicio: fechaInicio,
                    fechaFinal: fechaFinal,
                    provincia: provincia
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("buscarReporteContactosFactoresCriteriosEntrada") }}',
                    data: mat_datos
                }).done(function (data) {

                    $("#fechaInicio").val(fechaInicio);
                    $("#fechaFinal").val(fechaFinal);
                    $("#tb_body_replace").replaceWith(data);
                    md.modal('hide');
                });
            });

            $('#imp_rpt_criterios_entrada').click(function () {


                if (trim === '') {
                    trim = $('input:radio[name=trimestre]:checked').val();
                }
                if (enfermedad === '') {
                    enfermedad = $("#enfermedad").val();
                }
                if (anno === '') {
                    anno = $("#anno").val();
                }

                var ruta_actual = window.location.href;
                var ruta_rpte = ruta_actual.replace('reporteCohorteCriteriosEntrada', 'excelCohorteCriteriosEntrada/' + trim + '/' + anno + '/' + enfermedad);
                window.open(ruta_rpte);
            });


            $('#imp_rpt_mod_46203').tooltip({
                toggle: "tooltip",
                placement: "top",
                title: "Exportar Excel",
                delay: {show: 100, hide: 100}
            });
        });
    </script>
{% endblock %}