{% extends 'comun.html.twig' %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  form-cont">
                    <h3 style="margin: 5px; padding-bottom: 3px; border-bottom: 1px solid #cecece; color: #898b85">Agregar Resultado de Cultivo</h3>
                    <form style="margin-top: 20px; border-bottom: 1px solid #393939; padding-bottom: 15px">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label " for="fecha">Fecha:</label>
                                        <div>
                                            <input type="date" id="fecha" name="fecha">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label " for="cultivo">Resultado del Cultivo:</label>
                                    <div class="form-group">
                                        <select class="form-control input-sm" id="cultivo" name="cultivo">
                                            <option value="vacio">Seleccione un resultado</option>
                                            {% for cultivo in  cultivos %}
                                                <option value="{{ cultivo.clasificacion }}">{{ cultivo.descripcion~' ('~cultivo.clasificacion~')' }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% if app.user.getNivelAcceso().nivel == 'unidad' %}
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="provincia">Provincia:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().getMunicipio().getProvincia().nombre : app.user.hospital.municipio.provincia.nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="municipio">Municipio:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().getMunicipio().nombre : app.user.hospital.municipio.nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="areaSalud">Centro de Atención::</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().nombre : '' }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="hospital">Hospital:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.hospital != null ? app.user.hospital.nombre : ''}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif app.user.getNivelAcceso().nivel == 'municipal'%}
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="provincia">Provincia:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().getMunicipio().getProvincia().nombre : app.user.hospital.municipio.provincia.nombre}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="municipio">Municipio:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().getMunicipio().nombre : app.user.hospital.municipio.nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="areaSalud">Centro de Atención::</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm" id="areaSalud" name="areaSalud">
                                                <option value="0">Seleccione un centro de atención</option>
                                                {% for area in  areasSalud %}
                                                    <option value="{{ area.id }}">{{ area.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="hospital">Hospital:</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm " id="hospital" name="hospital">
                                                <option value="0">Seleccione un hospital</option>
                                                {% for hospital in  hospitales %}
                                                    <option value="{{ hospital.id }}">{{ hospital.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% elseif  app.user.getNivelAcceso().nivel == 'provincial' %}
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="provincia">Provincia:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong>{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().getMunicipio().getProvincia().nombre : app.user.hospital.municipio.provincia.nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="municipio">Municipio:</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm" id="municipio" name="municipio">
                                                <option value="0">Seleccione un municipio </option>
                                                {% for municipio in  municipios %}
                                                    <option value="{{ municipio.id }}">{{ municipio.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="areaSalud">Centro de Atención::</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm " id="areaSalud" name="areaSalud">
                                                <option value="0">Seleccione un centro de atención </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="hospital">Hospital:</label>
                                        <div class="form-group">
                                            <select  class="form-control input-sm " id="hospital" name="hospital">
                                                <option  value="0">Seleccione un hospital</option>
                                            </select>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-3" style="border-top: none">
                                        <label  class="control-label " for="provincia">Provincia:</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm " id="provincia" name="provincia">
                                                <option value="0">Seleccione una provincia </option>
                                                {% for provincia in  provincias %}
                                                    <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label   class="control-label " for="municipio">Municipio:</label>
                                        <div class="form-group">
                                            <select  class="form-control input-sm" id="municipio" name="municipio">
                                                <option  value="0">Seleccione un municipio </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="areaSalud">Centro de Atención:</label>
                                        <div class="form-group">
                                            <select  class="form-control input-sm " id="areaSalud" name="areaSalud">
                                                <option  value="0">Seleccione un centro de atención </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="hospital">Hospital:</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm " id="hospital" name="hospital">
                                                <option  value="0">Seleccione un hospital</option>
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                    <p class="text-center" style="margin-top: 20px">
                        <button id="btnGuardar" type="button" class="btn btn-primario">Guardar</button>
                        <button id="btnSalir" type="button" class="btn btn-primario"> Salir </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function()
        {
            function verificarusuario(){
                {% if not (is_granted("ROLE_EDITOR_LABORATORIO") or is_granted("ROLE_SUPERUSUARIO")) %}
                    window.location.href = "{{ path('login') }}";
                {% endif %}
            }
            verificarusuario();

            //--------- abandonar el formulario -----------------
            $('#btnSalir').on('click', function ()
            {
                window.location.href = "{{ path('verPacienteSintomatico' , {ci:ci}) }}";

            });
            //----------Relacionar selects --------------------------
            {% if  app.user.getNivelAcceso().nivel != 'unidad' %}
                {{ include('Generales/relacionarSelectProvMun.html.twig') }}
            {% endif %}
            //--------- enviar el formulario -----------------
            $('#btnGuardar').click(function ()
            {
                if ($("#fecha").val() == '') {
                    alertify.alert('<strong>El campo fecha es obligatorio , no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                var hoy = '{{ "now"|date('Y-m-d') }}';

                if ($("#fecha").val() > hoy) {
                    alertify.alert('<strong>Error: la fecha  no puede ser mayor que la fecha actual.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if ($("#cultivo").val() == 'vacio') {
                    alertify.alert('<strong>Debe seleccionar el resultado del cultivo.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if ($("#provincia").val() == '0') {
                    alertify.alert('<strong>Debe seleccionar la provincia en que se realizó el análisis.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if ($("#municipio").val() == '0') {
                    alertify.alert('<strong>Debe seleccionar el municipio en que se realizó el análisis.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                var areaSalud = '{{ app.user.getAreaSalud() != null ? app.user.getAreaSalud().id : ''}}';
                var hospital = '{{ app.user.hospital != null ? app.user.hospital.id : ''}}';
                {% if not (app.user.getNivelAcceso().nivel == 'unidad') %}
                    if($("#areaSalud").val() == '0' && $("#hospital").val() == '0'){
                        alertify.alert('<strong>Debe seleccionar el centro de atención o el hospital en que se atiende el paciente.</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar');
                        return false;
                    }
                    hospital = $("#hospital").val();
                    areaSalud = $("#areaSalud").val();
                {% endif %}


                $(".preload").removeClass('hidden');

                var mat_datos = {
                    ci:'{{ ci }}',
                    fecha: $("#fecha").val(),
                    cultivo: $("#cultivo").val(),
                    hospital: hospital,
                    areaSalud: areaSalud
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertResultCultivo") }}',
                    data: mat_datos
                }).done(function (data) {
                    $('input').each(function(){
                        $(this).val('');
                    });
                    $('select').val(0);
                    $('#cultivo').val('vacio');
                    $(".preload").addClass('hidden');
                    if(data == 'ok'){

                        alertify.alert('<strong>El resultado de la cultivo ha sido insertado correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmacion</h4>')
                            .set('label','Aceptar')
                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });
            });
        });
    </script>
{% endblock %}
