{% extends 'comun.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/select2-bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/css/progressSquare.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2 form-cont">

                <div  style="padding-bottom: 35px;">
                    <label for="id_select_lab">Seleccionar el laboratorio:</label>
                    <select class="form-control" id="id_select_lab">
                        {% for lab in laboratorios %}
                            <option value="{{ lab.id }}">{{ lab.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <h3 style="margin: 5px; padding-bottom: 3px; border-bottom: 1px solid #cecece; color: #898b85">CONTROL DE CALIDAD DE LA BACILOSCOPIA
                    <span style="float: right;">FECHA: {{ "now"|date("d-m-Y") }}</span>
                </h3>

                <div class="hidden" id="campos_llenables">

                    <form class="form-row" style="margin-top: 20px; border-bottom: 1px solid #393939; padding-bottom: 15px">

                        <div class="panel panel-success">
                            <div class="panel-heading ">
                                <label for="">Muestras Evaluadas</label>
                            </div>
                            <div class="panel-body">

                                <div class="panel-box-less">

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="muestras_evaluadas">Total de muestras evaluadas:</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de muestras evaluadas" id="muestras_evaluadas">
                                            <div>
                                                <span id="sp_muestras_evaluadas" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label for="num_positivas">Número de positivas:</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de muestras positivas" id="num_positivas">
                                            <div>
                                                <span id="sp_num_positivas" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-6">
                                            <label for="num_negativas">Número de negativas:</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de muestras negativas" id="num_negativas">
                                            <div>
                                                <span id="sp_num_negativas" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label for="falsos_positivos">Falsos positivos (FP):</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de muestras FP" id="falsos_positivos">
                                            <div>
                                                <span id="sp_falsos_positivos" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-6">
                                            <label for="falsos_negativos">Falsos negativos (FN):</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de muestras FN" id="falsos_negativos">
                                            <div>
                                                <span id="sp_falsos_negativos" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="errores">Errores de codificación:</label>
                                            <input type="text" class="form-control input-number" placeholder="Número de errores" id="errores">
                                            <div>
                                                <span id="sp_errores" class="hidden text-danger">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading ">
                                <label for="">Láminas</label>
                            </div>
                            <div class="panel-body">
                                <div class="form-group col-lg-12">
                                    <label for="laminas_concordantes">Láminas concordantes:</label>
                                    <input type="text" class="form-control input-number" placeholder="Número de láminas concordantes" id="laminas_concordantes">
                                    <div>
                                        <span id="sp_laminas_concordantes" class="hidden text-danger">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lta">LTA: No. Láminas con tinción de Zielh Neelsen (ZN) adecuada:</label>
                                    <input type="text" class="form-control input-number" placeholder="Número de láminas LTA" id="lta">
                                    <div>
                                        <span id="sp_lta" class="hidden text-danger">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lea">LEA: No. Láminas con extensión adecuada:</label>
                                    <input type="text" class="form-control input-number" placeholder="Número de láminas LEA" id="lea">
                                    <div>
                                        <span id="sp_lea" class="hidden text-danger">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lca">LCA: No. Láminas con calidad adecuada (muestras mucosas y mucupurulentas):</label>
                                    <input type="text" class="form-control input-number" placeholder="Número de láminas LCA" id="lca">
                                    <div>
                                        <span id="sp_lca" class="hidden text-danger">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading ">
                                <label for="">Indicadores a Medir</label>
                            </div>
                            <div class="panel-body">
                                <div class="form-group col-lg-6">
                                    <label for="tasa_fp">Tasa FP:</label>
                                    <input type="text" class="form-control" id="tasa_fp" disabled>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="tasa_fn">Tasa FN:</label>
                                    <input type="text" class="form-control" id="tasa_fn" disabled>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="tasa_ec">Tasa EC:</label>
                                    <input type="text" class="form-control" id="tasa_ec" disabled>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="pc_concordancia">% concordancia:</label>
                                    <input type="text" class="form-control" id="pc_concordancia" disabled>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="pc_lta">% láminas con extensión adecuada: </label>
                                    <input type="text" class="form-control" id="pc_lta" disabled>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="pc_lea">% de láminas con ZN adecuada:</label>
                                    <input type="text" class="form-control" id="pc_lea" disabled>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="pc_lca">% láminas con calidad adecuada:</label>
                                    <input type="text" class="form-control" id="pc_lca" disabled>
                                </div>
                                <div class="form-group col-lg-12">
                                    <button type="button" class="btn btn-primary btn-block" id="calculo_porciento">Calcular</button>
                                </div>

                            </div>
                        </div>

                    </form>

                    <p class="text-center" style="margin-top: 20px">
                        <button id="btnGuardar" type="button" class="btn btn-primario">Guardar</button>
                        <button id="btnSalir" type="button" class="btn btn-primario"> Salir </button>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{{ asset('img/progresssquare.gif') }}" alt="progress" class="icon">
                        <h5><span class="modal-text">Procesando, espere por favor....</span></h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easyadmin/javascript/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/select2/i18n/es.js') }}"></script>
    <script>
        $(document).ready(function()
        {
            function verificarusuario(){
                {% if not (is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO")) %}
                    {% if not app.user.getNivelAcceso().nivel == 'nacional' %}
                        window.location.href = "{{ path('login') }}";
                    {% endif %}
                {% endif %}
            }
            verificarusuario();

            $.fn.select2.defaults.set('language', 'es');
            $("#id_select_lab").select2({
                placeholder: "Seleccione un laboratorio..",
                allowClear: true
            });

            $("#id_select_lab").select2("val");

            var md = $('#processing-modal');

            //SECCION DE LAS VARIABLES DE ENTRADA
            $('#muestras_evaluadas').val('');
            $('#num_positivas').val('');
            $('#num_negativas').val('');
            $('#falsos_positivos').val('');
            $('#falsos_negativos').val('');
            $('#errores').val('');

            $('#laminas_concordantes').val('');
            $('#lta').val('');
            $('#lea').val('');
            $('#lca').val('');


            $('#tasa_fp').val('');
            $('#tasa_fn').val('');
            $('#tasa_ec').val('');
            $('#pc_concordancia').val('');
            $('#pc_lta').val('');
            $('#pc_lea').val('');
            $('#pc_lca').val('');

            //FIN DE LA SECCION DE LAS VARIABLES DE ENTRADA

            //--------- captar el valor del select de los laboratorios -----------------
            //$("#id_select_lab").val($("#id_select_lab option:first").val());

            $('#id_select_lab').change(function() {

                laboratorio = $("#id_select_lab").val();

                if( laboratorio > 0 ){
                    $('#campos_llenables').removeClass('hidden');
                    $('#campos_llenables').addClass('show');
                }
                else{
                    $('#campos_llenables').removeClass('show');
                    $('#campos_llenables').addClass('hidden');
                }

            });

            //--------- validar que solo entren numeros en los campos  -----------------
            $('.input-number').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g,'');
            });

            //--------- funcion para realizar los claculos de las ecuaciones -----------
            $('#calculo_porciento').click(function () {

                if(
                    $('#muestras_evaluadas').val()   > 0 &&
                    $('#num_positivas').val()        > 0 &&
                    $('#num_negativas').val()        > 0 &&
                    $('#falsos_positivos').val()     > 0 &&
                    $('#falsos_negativos').val()     > 0 &&
                    $('#errores').val()              > 0 &&
                    $('#laminas_concordantes').val() > 0 &&
                    $('#lta').val()                  > 0 &&
                    $('#lea').val()                  > 0 &&
                    $('#lca').val()                  > 0
                ){

                    $('#tasa_fp').val( calculaFormulaTasaFP($('#num_positivas').val(), $('#falsos_positivos').val()) );

                    $('#tasa_fn').val( calculaFormulaTasaFN($('#num_negativas').val(), $('#falsos_negativos').val()) );

                    $('#tasa_ec').val( calculaFormulaTasaEC($('#num_positivas').val(), $('#errores').val()) );

                    $('#pc_concordancia').val( calculaFormulaConcordancia($('#muestras_evaluadas').val(), $('#laminas_concordantes').val()) );

                    $('#pc_lta').val( calculaFormulaLTA($('#muestras_evaluadas').val(), $('#lta').val()) );

                    $('#pc_lea').val( calculaFormulaLEA($('#muestras_evaluadas').val(), $('#lea').val()) );

                    $('#pc_lca').val( calculaFormulaLCA($('#muestras_evaluadas').val(), $('#lca').val()) );
                }
                else
                {
                    alertify.alert('<strong>Existen campos vacíos.</strong>', function(){ erroresFormulario(); })
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Información</h4>')
                        .set('label','Aceptar')
                }
            });

            //--------- ecuaciones para los diferentes calculos        -----------------
            function calculaFormulaTasaFP(totalPositivas, cantFP){
                return convierteNumero(cantFP,totalPositivas);
            }
            function calculaFormulaTasaFN(totalNegativas, cantFN){
                return convierteNumero(cantFN,totalNegativas);
            }
            function calculaFormulaTasaEC(totalPositivas, cantEC){
                return convierteNumero(cantEC,totalPositivas);
            }
            function calculaFormulaConcordancia(totalEvaluadas,cantConcordante){
                return convierteNumero(cantConcordante,totalEvaluadas);
            }
            function calculaFormulaLTA(totalEvaluadas,cantLTA){
                return convierteNumero(cantLTA,totalEvaluadas);
            }
            function calculaFormulaLEA(totalEvaluadas,cantLEA){
                return convierteNumero(cantLEA,totalEvaluadas);
            }
            function calculaFormulaLCA(totalEvaluadas,cantLCA){
                return convierteNumero(cantLCA,totalEvaluadas);
            }

            //--------- funcion para obtener un numero con 2 decimales o sin ellos -----
            function convierteNumero(num_1,num_2) {

                var div = ((parseInt(num_1) / parseInt(num_2))*100).toFixed(2);

                var decimales = div.toString().substr(3,2);

                if( decimales === '00' )
                    return div.toString().substr(0,2)+' '+'%';
                return div+' '+'%';
            }

            //--------- abandonar el formulario -----------------
            $('#btnSalir').on('click', function ()
            {
                window.location.href = "{{ path('inicio') }}";
            });

            {#//--------- enviar el formulario -----------------#}
            $('#btnGuardar').click(function () {

                if(erroresFormulario()>0)
                    return false;

                var mat_datos = {
                    total_muestras_eval:  $("#muestras_evaluadas").val(),
                    num_positivas:        $("#num_positivas").val(),
                    num_negativas:        $("#num_negativas").val(),
                    falsos_positivos:     $("#falsos_positivos").val(),
                    falsos_negativos:     $("#falsos_negativos").val(),
                    errores_cod:          $("#errores").val(),
                    laminas_concordantes: $("#laminas_concordantes").val(),
                    lta:                  $("#lta").val(),
                    lea:                  $("#lea").val(),
                    lca:                  $("#lca").val(),
                    id_laboratorio:       $("#id_select_lab").val()
                };

                md.modal({
                    backdrop: 'static',
                    keyboard: false
                },'show');

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertControlCB") }}',
                    data: mat_datos
                }).done(function (data) {

                    if(data==='ok'){
                        $("#id_select_lab").select2("val");
                        $('input').each(function(){
                            $(this).val('');
                        });
                        $('#campos_llenables').removeClass('show');
                        $('#campos_llenables').addClass('hidden');
                        md.modal('hide');
                        alertify.alert('<strong>El Control de Calidad de Baciloscopia ha sido insertado con éxito.</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                            .set('label','Aceptar');
                    }
                    else{
                        md.modal('hide');
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')

                    }
                });
            });

            {#//--------- errores del formulario (campos vacios)-----------------#}
            function erroresFormulario() {

                OcultarErroresMsg();
                MostrarErroresMsg();

                var campos_formulario = [
                    $("#muestras_evaluadas"),
                    $("#num_positivas"),
                    $("#num_negativas"),
                    $("#falsos_positivos"),
                    $("#falsos_negativos"),
                    $("#errores"),
                    $("#laminas_concordantes"),
                    $("#lta"),
                    $("#lea"),
                    $("#lca")
                ];

                var tiene_error = 0;
                for (var i = 0; i < campos_formulario.length; i++) {
                    if(campos_formulario[i].val()=='' || campos_formulario[i].val() == null)
                    {
                        tiene_error++;
                        campos_formulario[i].focus();
                        break;
                    }
                }

                return tiene_error;
            }

            function OcultarErroresMsg()
            {
                $("#sp_muestras_evaluadas").addClass('hidden');
                $("#sp_num_positivas").addClass('hidden');
                $("#sp_num_negativas").addClass('hidden');
                $("#sp_falsos_positivos").addClass('hidden');
                $("#sp_falsos_negativos").addClass('hidden');
                $("#sp_errores").addClass('hidden');
                $("#sp_laminas_concordantes").addClass('hidden');
                $("#sp_lta").addClass('hidden');
                $("#sp_lea").addClass('hidden');
                $("#sp_lca").addClass('hidden');
            }

            function MostrarErroresMsg()
            {
                if($("#muestras_evaluadas").val() == ''){
                    $("#sp_muestras_evaluadas").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#num_positivas").val() == ''){
                    $("#sp_num_positivas").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#num_negativas").val() == ''){
                    $("#sp_num_negativas").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#falsos_positivos").val() == ''){
                    $("#sp_falsos_positivos").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#falsos_negativos").val() == ''){
                    $("#sp_falsos_negativos").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#errores").val() == ''){
                    $("#sp_errores").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#laminas_concordantes").val() == ''){
                    $("#sp_laminas_concordantes").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#lta").val() == ''){
                    $("#sp_lta").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#lea").val() == ''){
                    $("#sp_lea").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
                if($("#lca").val() == ''){
                    $("#sp_lca").text('El campo es obligatorio , no puede quedar en blanco.').removeClass('hidden');
                }
            }

        });
    </script>
{% endblock %}
